<div id="content" class="col-md-9 exhibit-admin">
  <%= page_title(t('.section'), t('.page_title')) %>
  <%= link_to "Create Backup", site_backup_path, method: :post %>
</div>

<aside class="col-md-3">
  <%= render "shared/site_sidebar" %>
</aside>
